@media (min-width: 100px) and (max-width: 645px) {
     .stack-style {
   
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
  }
  .title{
    margin-left: 10%;
    margin-top: 15%;
  }
}

@media (min-width: 646px) and (max-width: 1149px) {
     .stack-style {
   
    justify-content: space-evenly;
    align-items: center;
    margin-top: 8%;
  }
  .title{
    margin-left: 12%;
    margin-top: 5%;
  }
}

@media (min-width: 1150px) {
  .stack-style {
   
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
  }
  .title{
    margin-left: 12%;
    margin-top: 5%;
  }
}
