/* .carousel-container {
    width: auto;
    height: 500px;
    overflow: hidden;
    margin-top: 1%;
  }
  
  .carousel-container img {
    height: 100%;
    object-fit: cover;
  }
  .carousel-control-prev,
.carousel-control-next {
  transform: translateY(-30%);
}
.img-style{
  width:150px;
    height:150px;
   
}
.title{
 text-align: start;
}
.box{
  border: 1px solid #131212;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 12px;
     width:250px;
    height:260px;
} */


@media (min-width: 100px) and (max-width: 645px) {
.carousel-container {
    width: auto;
    height: 200px;
    overflow: hidden;
    margin-top: 25%;
  }
  
  .carousel-container img {
    height: 100%;
    object-fit: cover;
  }
  .carousel-control-prev,
.carousel-control-next {
  transform: translateY(-30%);
}
.img-style{
  width:150px;
    height:150px;
   
}
.title{
 text-align: start;
}
.box{
  border: 1px solid #131212;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 12px;
     width:250px;
    height:260px;
}
.product-style{
text-align: center;
 margin-top: 25%;
  margin-left:3%;
}
}


@media (min-width: 646px) and (max-width: 1149px) {
  .carousel-container {
    width: auto;
    height: 500px;
    overflow: hidden;
    margin-top: 1%;
  }
  
  .carousel-container img {
    height: 100%;
    object-fit: cover;
  }
  .carousel-control-prev,
.carousel-control-next {
  transform: translateY(-30%);
}
.img-style{
  width:150px;
    height:150px;
   
}
.title{
 text-align: start;
}
.box{
  border: 1px solid #131212;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 12px;
     width:250px;
    height:260px;
}
.product-style{
text-align: center;
 margin-top: 5%;
  margin-left:3%;
}
}


@media (min-width: 1150px) {
  .carousel-container {
    width: auto;
    height: 500px;
    overflow: hidden;
    margin-top: 1%;
  }
  
  .carousel-container img {
    height: 100%;
    object-fit: cover;
  }
  .carousel-control-prev,
.carousel-control-next {
  transform: translateY(-30%);
}
.img-style{
  width:150px;
    height:150px;
   
}
.title{
 text-align: start;
}
.box{
  border: 1px solid #131212;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 12px;
     width:250px;
    height:260px;
}
.product-style{
text-align: center;
 margin-top: 2%;
  margin-left:3%;
}
}
