
@media (min-width: 100px) and (max-width: 645px) {
  .signup-container{
    display: flex;
  justify-content: center; 
  align-items: center;     
  /* height: 100vh; */
  margin-top: 25%;
}

.box-style {
  /* color: #e93434; */
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  width: fit-content;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

}

@media (min-width: 646px) and (max-width: 1149px) {
  .signup-container{
    display: flex;
  justify-content: center; 
  align-items: center;     
  /* height: 100vh; */
  margin-top: 22%;
}

.box-style {
  /* color: #e93434; */
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  width: fit-content;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

}

@media (min-width: 1150px) {
  .signup-container{
    display: flex;
  justify-content: center; 
  align-items: center;     
  /* height: 100vh; */
  margin-top: 12%;
}

.box-style {
  /* color: #e93434; */
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  width: fit-content;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

}